.sc-gtssRu {
  width: 280px !important;
  height: 300px;
}
.slide-founder img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-top: 15px;
}
.slide-founder p{
  font-size: 15px;
  padding: 5px;
  text-align: center;
}
.sc-fujyUd.ftMcgk:focus {
  outline: none !important;
  box-shadow: inset 0 0 1px 0px rgb(131, 75, 131);
}