* {
  margin: 0;
  padding: 0;
}
.header nav {
  background-color: #f6f6f6;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  padding: 15px;
  transition: all 0.3s;
}
nav.active {
  background: linear-gradient(20deg, #f26522, rgb(242, 198, 175), rgba(255, 255, 255, 0.95));
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  transition: all 0.3s;
}
.img-src {
  height: auto;
  width: 80%;
}
.header ul {
  list-style-type: none;
  margin-bottom: 0;
}
.header .wrapper-header {
  justify-content: space-between;
  align-items: center;
}
.header .wrapper-header .right img {
  width: 30px;
}
.header ul li {
  float: left;
}

.header ul li a {
  padding: 15px 15px;
  color: black;
}
.header ul li a:hover {
  color: #f26522;
  text-decoration: none;
}

ul li a:active {
  color: #f26522;
}
.cl-f26522 {
  color: #f26522;
}
.cl-f26522-background {
  background-color: #f26522;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.bg-fff {
  background-color: #f6f6f6;
}
.s30 {
  font-size: 30px;
}
.s18 {
  font-size: 18px;
  font-weight: 500;
}
.border-bold {
  border: 2px solid black;
}
.w-170 {
  width: 170px;
}
.w-80 {
  width: 80px;
}
main {
  padding-top: 81px;
}
/* banner */
.banner {
  padding: 70px 0 110px;
}
.t1 {
  color: black;
}
.black {
  font-weight: 900;
}
.bg-white {
  background-color: white;
}
.text-uppercase {
  text-transform: uppercase;
}
.breadcrumb-tit {
  padding-top: 80px;
  padding-bottom: 80px;
}
.s14 {
  font-size: 14px;
}
.s36 {
  font-size: 36px;
}
.s20 {
  font-size: 20px;
}
.bold {
  font-weight: 700;
  line-height: 1.5;
}
.s15 {
  font-size: 15px;
}
.justify-content-space-between {
  justify-content: space-between;
}

.banner-wrap {
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.banner-wrap:hover {
  box-shadow: 0 0 15px #ccc;
  transform: translateY(-5px);
}
.link-ref {
  color: black;
  text-decoration: none;
}
.link-ref:hover {
  color: #f26522;
  text-decoration: none;
}

/* input */
.search.active {
  top: 70px;
  display: flex;
}
.search {
  transition: all 0.3s;
  position: absolute;
  padding: 15px;
  top: -100px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.829);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
  font-size: 14px;
}
.search img {
  width: 30px;
  height: 30px;
}
.shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}
.footer ul {
  display: flex;
  flex-direction: column;
}
.cl-white {
  color: white;
}
.black-background {
  background-color: black;
}
.wrapper-search {
  height: 100px;
  overflow: scroll;
  width: auto;
  padding: 0 2px;
}
.wrapper-search img {
  margin-right: 5px;
}
.wrapper-search div:hover {
  border-radius: 5px;
  background-color: #ccc;
  color: black;
  text-decoration: none;
}
.display-none {
  display: none;
}
.cart {
  position: relative;
}
.cart .home-cart {
  padding: 5px;
  background-color: #eee;
  position: absolute;
  top: 45px;
  left: 0px;
  width: 210px;
  height: auto;
  display: none;
}
.home-cart.active {
  display: block;
}

.home-cart img {
  height:  50px !important;
}
.home-cart p {
  margin: 0 !important;
}
.wrapper-cart .d-flex img {
  margin-right: 12px;  
}
